@model Work.Models.Language

@{
    ViewData["Title"] = "Добавит язык";
}

<h1>Дабавить язык</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="ui-widget">
                <label for="lang">Название языка</label>
                <input id="lang"/>
                <span asp-validation-for="NameLanguage"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться в список</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
